server:
  port: 8082
spring:
  application:
    name: imgify-server
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/imgify
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

clipdrop:
  api:
    key: bd1e34b73d5a9c43f2966a2a34a5fe66816e79abb0dd7700233a222c2ef367cce352aeec368f601082f2f2eef8d43e79
    url: https://clipdrop-api.co/text-to-image/v1
